html{
    scroll-behavior: smooth;
    /* permet de scroller la page de manière plus lente */
}

h2, h3, .nav-item, #transition, footer{
    text-align: center;
    color:white;
    /* centrer mes éléments */
}

.collapse{
    margin-left: 4%;
}
.nav-item{
    color: darkslategray;
    font-weight: bold;
    padding-right: 45px;
}

header{
    /* l'image ne se repete pas et est centré sur la page 
    prend 100% de la hauteur de l'écran */
    background: url(./media/main2.jpg)no-repeat 50% 50%;
    background-size: cover;
    height:100vh;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    font-size: 5em;
    padding: 200px 0 0 ;
    color: #202c2d;
    
text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;

    animation: titre ease 3.5s;
}

/*animation de notre titre h1*/

@keyframes titre{
    0% {
        opacity: 0;
        transform: translateY(180px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#leftPart{

    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    border-radius: 20px;
    padding: 25px;
}
.elements {
    padding:70px 0;
}
.elements img{
    border-radius: 50%;
    width: 200px;
}
.elements p{
    font-size: 1.2em;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow:hidden; 
    padding-right: 20px;
    color:white;
}


/* partie droite */

#rightPart{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    border-radius:20px;
    padding:20px;
}

.apprentissage{
    height: 200px;
    width: 200px;
    margin: 20px auto;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}


.apprentissage h3{
    position: relative;
    color: whitesmoke;
    top: 50%;
    transform: translateY(-50%);
}

.apprentissage:hover {
    transform: scale(1.08);
    opacity: 0.7;
    transition: ease-out 0.2s;
}

.mecontacter{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    height: 370px;
    width: 50%;
    min-width:350px;
    margin: 0 auto;
    border-radius:50%;
    margin-bottom: 70px;
    padding:20px;

}
 .mecontacter h3{
    margin-top: 10px;
    padding: 100px 0 20px 0;
    font-size: 1.5em;

 }
 .mecontacter .input-group{
    width: 40%;
    min-width:350px;
    margin: 0 auto;
 }

 footer{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    padding: 15px 0 4px 0;
 }

.button{
    
    margin:auto;
}

/*************************** medias queries **************************************/

@media screen and (max-width: 990px){
    #rightPart{
         display:flex;
    }
    #rightPart h2{
        display: none;
    }
    .tips{
        height:130px;
        width:130px;
    }
}

@media screen and (max-width: 790px) {
    h1{
        font-size: 3em;
    }
    .elements{
        padding: 30px 0;
    }

    .elements img{
        max-width: 140px;
        margin-top: 40px;
    }
    #transition img{
        width: 250px;
    }
    .apprentissage{
        height:90px;
        width:90px;
    }

    .apprentissage h3{
        font-size:0.9em;
    }
}

@media screen and (max-width: 580px){
    .elements {
        padding: 15px 0;
        text-align: center;
    }

    .elements img{
        margin-bottom: 10px;
    }
    nav{
        display:none !important;
    }

}

